<mat-card
  matRipple
  [mdePopoverTriggerFor]="appPopover"
  mdePopoverTriggerOn="hover"
  matRippleCentered="centered"
  class="border-bottom-light center-text w-xs-100 mb-1"
>
  <mat-card-content class="primary-hover">
    <ng-container *ngIf="count; else zero">
      <mat-card-title>
        <span class="counter-number">{{ count }}</span>
        <ng-container *ngIf="percentage">
          <small class="small-text">
            / {{ percentage | number: '1.1-2' }} %
          </small>
        </ng-container>
      </mat-card-title>
    </ng-container>
    <ng-template #zero>
      <mat-card-title>
        0
      </mat-card-title>
    </ng-template>
    {{ componentConfigs.title }}
  </mat-card-content>
  <ngx-loading [show]="!(loadingHits$ | async) && loading"></ngx-loading>
</mat-card>

<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <app-icons-with-text
    [text]="componentConfigs.description"
  ></app-icons-with-text>
</mde-popover>
