mat-card {
  cursor: pointer !important;
  min-height: 100px;
  height: 100px;
  width: 150px;
}

.small-text {
  font-weight: normal !important;
  font-size: 10px !important;
}

.counter-number {
  font-size: 20px !important;
}
