<section class="btn-group-vertical">
  <ng-container *ngFor="let conf of dashboardConfig">
    <button
      *ngIf="btnStatus.get(conf.componentConfigs.id)"
      matRipple
      [ngClass]="
        id === conf.componentConfigs.id || id === conf.scroll.linkedWith
          ? 'active bg-primary white-text'
          : 'bg-light muted-text'
      "
      [ngx-scroll-to]="conf.componentConfigs.id"
      [ngx-scroll-to-duration]="500"
      aria-label="Scroll Button"
      class="border-muted"
    >
      <mat-icon>{{ conf.scroll.icon }}</mat-icon>
    </button>
  </ng-container>
</section>
