button {
  transition: box-shadow 0.35s ease-in, color 0.45s ease-in,
    background-color 0.35s ease-in;
  cursor: pointer;
  outline: none;
  height: 40% !important;
}

button.active {
  height: 60% !important;
}

.btn-group-vertical {
  height: 90%;
  position: fixed !important;
  right: 0 !important;
  justify-content: unset;
  flex-direction: column;
  align-items: flex-start;
  display: inline-flex;
  vertical-align: middle;
}
