<div class="input-group publications-sort">
  <div class="input-group-append">
    <button (click)="onOrderButtonClick($event)" class="btn btn btn-outline-secondary" data-sorting="DECS"><i class="fa fa-arrow-up"></i></button>
  </div>
  <ng-select style="width: 15em;" [(ngModel)]="selectedSortBy" (change)="onSortSelect($event)" [multiple]="false"
    placeholder="Sort by..." [items]="sortSelectionOptions" [hideSelected]="true" [clearable]="true"></ng-select>
</div>

<div class="text-muted pt-3" *ngFor="let publication of (shownPublications | async) ">
  <div class="row border-bottom border-gray">
    <div class="col-md-2 publication-image-parent">
      <img *ngIf="publication._source.bitstreams != undefined && publication._source.bitstreams.THUMBNAIL == undefined && publication._source.mel_file_thumbnail == undefined"
        data-src="holder.js/162x120?theme=thumb&amp;bg=427730&amp;fg=427730&amp;size=1" alt="162x120" class="mr-2 rounded publication-image"
        [src]="baseURL+'assets/no-thumbnail-available.jpg'" />

      <!-- mel_file_thumbnail -->
      <img *ngIf="publication._source.mel_file_thumbnail != undefined" alt="162x120" src="{{ publication._source.mel_file_thumbnail }}"
        data-holder-rendered="true" class="mr-2 rounded publication-image">

      <img *ngIf="publication._source.bitstreams != undefined && publication._source.bitstreams.THUMBNAIL != undefined"
        alt="162x120" src="https://cgspace.cgiar.org/bitstream/handle/{{ publication._source.handle }}/{{publication._source.bitstreams.THUMBNAIL}}"
        data-holder-rendered="true" class="mr-2 rounded publication-image">
    </div>

    <div class="col-md-10 publication-text">
      <div class="media-body pb-3 mb-0 small lh-125 publication-text">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a target="_blank" href="{{ publication._source.dc_identifier_uri }}">
            <strong class="text-gray-dark publication-title">
              <img [src]="baseURL + 'assets/' + publication._source.repo + 'Icon.jpg'">
              {{publication._source.dc_title }}
            </strong>
          </a>
          <span class="d-block"></span>
        </div>
        <p *ngIf="publication._source.dc_identifier_citation!=undefined">
          {{publication._source.dc_identifier_citation}}
        </p>
        <p>
          <p>
            <span *ngIf="publication._source.dc_publisher!=undefined">
              <b>Publisher: </b>
              <span class="green-span">
                {{publication._source.dc_publisher}}
              </span>
            </span>
            <span *ngIf="publication._source.dc_subject!=undefined">
              <b>Subject: </b>
              <span class="green-span">
                {{publication._source.dc_subject}}
              </span>
            </span>
          </p>

          <p>
            <span *ngIf="publication._source.dc_type!=undefined">
              <b>Type: </b>
              <span class="green-span">
                {{publication._source.dc_type}}
              </span>
            </span>
            <span *ngIf="publication._source.cg_identifier_status!=undefined">
              <b>Status: </b>
              <span class="green-span">
                {{publication._source.cg_identifier_status}}
              </span>
            </span>
            <span *ngIf="publication._source.dc_date_issued!=undefined">
              <b>Date issued: </b>
              <span class="green-span">
                {{publication._source.dc_date_issued}}
              </span>
            </span>
            <span *ngIf="publication._source.cg_contributor_crp!=undefined">
              <b>Reporting CRP(s): </b>
              <span class="green-span">
                {{publication._source.cg_contributor_crp}}
              </span>
            </span>
            <span *ngIf="publication._source.altmetric!=undefined">
              <b>Attention Score: </b>
              <span class="green-span">
                {{publication._source.altmetric.score}}
              </span>
            </span>
          </p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex pt-3 justify-content-center" [collectionSize]="publicationsCount" [pageSize]="pageSize"
  [(page)]="currentPage" (pageChange)="refreshPublications()" [ellipses]="false" [maxSize]="10" [rotate]="true"></ngb-pagination>
