<footer class="container-fluid bg-white border-top-light mt-3">
  <div class="row">
    <a
      href="https://www.ilri.org/"
      target="_blank"
      class="primary-hover col-md-3 col-xs-12"
      rel="noopener"
    >
      <img
        src="assets/ilri-logo.png"
        alt="ilri logo"
        class="mx-auto d-block m-3"
      />
    </a>

    <a
      href="http://www.icarda.org/"
      target="_blank"
      class="primary-hover col-md-3 col-xs-12 border-left-light"
      rel="noopener"
    >
      <img
        src="assets/icarda-logo.png"
        alt="icarda logo"
        class="mx-auto d-block m-3"
      />
    </a>
    <a
      href="https://duraspace.org/"
      target="_blank"
      class="primary-hover col-md-3 col-xs-12 border-left-light"
      rel="noopener"
    >
      <img
        src="assets/dspace-logo.png"
        alt="dspace logo"
        class="mx-auto d-block m-3"
      />
    </a>

    <a
      href="http://codeobia.com/"
      target="_blank"
      class="col-md-3 col-xs-12 primary-hover border-left-light"
      rel="noopener"
    >
      <img
        src="assets/codeobia-logo.png"
        alt="codeobia logo"
        class="codeobiaImg mx-auto d-block mt-1 m-3"
      />
    </a>
  </div>
</footer>
