<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <input #author class="form-control" placeholder="What is the name of the publication's author?" type="text">
                <input #country class="form-control" placeholder="Where was it published??" type="text">
                <input #subject class="form-control" placeholder="What is the publication about?" type="text">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c({author: author.value, country: country.value, subject: subject.value})">Search</button>
    </div>
</ng-template>