<app-filter-paginated-list
  (filterChanged)="changeFilter($event)"
  [filterOptions]="content.filterOptions"
></app-filter-paginated-list>

<div
  *ngFor="let h of hits"
  class="d-flex flex-wrap flex-row border-bottom-muted mt-4 w-100 pb-3"
>
  <div class="col-md-2 col-xs-12 text-center">
    <app-pub-image [source]="h._source"></app-pub-image>
  </div>
  <!--
    TODO: this only works when it's md-7
    TODO: but it should be md-8
  -->
  <div class="col-md-8 col-xs-12 muted-text">
    <app-link-text [source]="h._source" [content]="content"></app-link-text>
  </div>
  <div
    *ngIf="content.altmetric && h._source.altmetric"
    class="col-md-1 col-xs-12"
  >
    <div
      data-badge-popover="left"
      data-badge-type="medium-donut"
      [attr.data-handle]="h._source.handle"
      data-hide-no-mentions="true"
      class="altmetric-embed"
    ></div>
  </div>
</div>

<mat-paginator
  [length]="paginationAtt?.length"
  [pageSize]="paginationAtt?.pageSize"
  (page)="paginationAtt = $event; changePage($event)"
>
</mat-paginator>

<ngx-loading [show]="loadingHits"></ngx-loading>
