<header>
    <mat-toolbar color="primary" class="toolbar-style">
      <mat-toolbar-row>
        <img src="assets/CGIAR.png" alt="AReS logo" class="nab-bar-images" />
        <button mat-icon-button aria-label="refresh page button" class="end"
          (click)="openNavAndDisableIgnoreMouseEvent()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="refresh()" aria-label="refresh page button">
          <mat-icon>loop</mat-icon>
        </button>
        <button mat-icon-button (click)="startTour()" aria-label="refresh page button">
          <mat-icon>contact_support</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>


<tour-step-template></tour-step-template>

<mat-sidenav-container  (document:mousemove)="onMouseMove($event)" [hasBackdrop]="false" class="mb-0 pb-0 main-container" fullscreen>
  <mat-sidenav #drawer [mode]="'over'"  [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
  [fixedBottomGap]="options.bottom" [autoFocus]="false" id="drawer">
    <mat-nav-list *ngIf="render" class="m-2">
      <button mat-button mat-raised-button (click)="addRemoveOrOperator()" color="primary" class="w-100">
        Boolean Operator
        <ng-container *ngIf="orOperator; else and">
          <strong>OR</strong>
        </ng-container>
        <ng-template #and>
          <strong>AND</strong>
        </ng-template>
        <mat-icon aria-label="Button that displays a tooltip when focused or hovered over"
          [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover">
          error
        </mat-icon>
        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <app-icons-with-text [text]="orAndToolTip"></app-icons-with-text>
        </mde-popover>
      </button>
      <app-filters></app-filters>
      <ngx-loading [show]="loading$ | async"></ngx-loading>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mb-0 pb-0">
    <app-dashboard></app-dashboard>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>