<!-- the  *ngIf -->
<!-- the nouislider need to have range, min & max from the start -->
<!-- so i will render it when we have these values -->
<ng-container *ngIf="range; else loading">
  <nouislider
    (change)="onYearSliderChange()"
    [tooltips]="[true, true]"
    [min]="min"
    [connect]="true"
    [max]="max"
    [(ngModel)]="range"
    [step]="1"
    [disabled]="disabled"
  >
  </nouislider>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
