<mat-card class="mt-2 mb-2" *ngIf="tourStarted">
  <mat-card-header>
    <button mat-icon-button class="end" (click)="toggleElement()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <h2 class="primary-text center-text">
      Welcome to AReS - Agricultural Research e-Seeker
    </h2>
    <p class="center-text">
      Choose your search options from the lists on your left
      <mat-icon>search</mat-icon>. Consider adding a filter – this can provide
      greater specificity to your query. You can start filtering anywhere you
      want. By selecting multiple criteria in each filter, all the other filters
      will be automatically updated to guarantee a combined result that returns
      no empty queries. AReS figures, graphics, tables and the Info Products
      List of Results update in real time and your results will be instantly
      displayed!
    </p>
    <p class="center-text">
      Navigate the page and explore all of its features. You can expand and
      collapse the filters’ tab and any other section as you like, by clicking
      on
      <mat-icon>search</mat-icon> and <mat-icon>expand_more</mat-icon> icons.
      All graphics are exportable by clicking on
      <mat-icon>view_headline</mat-icon>, and the Info Products List of Results
      can be downloaded in .xls , .docx , .pdf formats. Want to clean up all
      filters and query something else? Click <mat-icon>loop</mat-icon> and
      start a new query straight away!
    </p>
  </mat-card-content>
</mat-card>
