<nav class="navbar  fixed-top bg-cg-green flex-md-nowrap p-0 shadow">
  <div class="navbar-brand col-sm-5 col-md-4 mr-0" href="#">
    <img class="mr-3" src="https://cgspace.cgiar.org/themes/0_CGIAR//images/logo-white.png" alt="" width="48" height="48">
    <div class="titles lh-100">
      <h6 class="mb-0 text-white lh-100">CGSpace</h6>
      <small class="text-white">A Repository of Agricultural Research Outputs</small>
    </div>
  </div>
  <h1 class="white text-center float-left">Admins Area</h1>
  <ul class="navbar-nav px-3">
    <p style="margin: 0; color: white; font-weight: 100;font-size: 11px;">Powered by</p>
    <img class="mr-3" src="assets/codeobia-300.png" alt="" height="30">
  </ul>
</nav>
<div class="row">

</div>
<div class="row" role="main">
  <div class="col-md-12 p-3">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group mb-2">
          <label for="Base" class="sr-only">Base</label>
          <input [(ngModel)]="keys.base" type="text" class="form-control" name="base" id="Base" placeholder="Search">
        </div>
        <div class="form-group mx-md-3 mb-2">
          <label for="Replace" class="sr-only">Replace</label>
          <input [(ngModel)]="keys.replace" type="text" class="form-control" name="replace" id="Replace" placeholder="Replace With">
        </div>
        <button (click)="addKeys()" type="submit" class="btn btn-primary mb-2">Add</button>
      </form>

    </div>
    <div class="col-md-12">
      <ngx-datatable limit="10" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" class="bootstrap"
        [rows]="keysList" [columns]="columnsMetaKeys">
      </ngx-datatable>

    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group col-md-3 mb-2">
          <label class="sr-only" for="metakeys">MetaData</label>
          <ng-select class="width-100" bindLabel="name" bindValue="id" name="metakeys" [items]="metaKeysList" placeholder="Meta Data"
            [(ngModel)]="selectedMetavalue['metakey']" (ngModelChange)="onChangeMetakey($event)">
          </ng-select>
        </div>
        <div class="form-group col-md-3 mb-2">
          <label class="sr-only" for="metakeys">Search</label>
          <ng-select class="width-100" bindLabel="key" bindValue="key" name="metaSearch" [items]="metaValues" [(ngModel)]="selectedMetavalue['search']"
            placeholder="Search">
          </ng-select>
        </div>
        <div class="form-group col-md-3 mb-2">
          <label class="sr-only" for="metakeys">MetaData</label>
          <ng-select class="width-100" bindLabel="key" bindValue="key" name="metaReplace" [items]="metaValues" [(ngModel)]="selectedMetavalue['replace']"
            placeholder="Replace">
          </ng-select>
        </div>
        <button (click)="addValues()" type="submit" class="btn btn-primary mb-2">Add</button>
      </form>
      <div class="col-md-12">
        <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search in Table' (keyup)='updateFilter($event)'/>
      </div>
    </div>
    <div class="col-md-12">
      <ngx-datatable #table limit="10" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" class="bootstrap"
        [rows]="valuesList" [columns]="columnsMetavalues">
      </ngx-datatable>
    </div>
  </div>
</div>