<mat-expansion-panel
  [expanded]="expandedStatus"
  (afterCollapse)="notifyExpanded(true)"
  (afterExpand)="notifyExpanded(false)"
>
  <mat-expansion-panel-header class="border-bottom-muted">
    <mat-panel-title class="icon-with-text" *ngIf="userSeesMe">
      <span class="mr-1">
        {{ title }}
      </span>
      <mat-icon
        aria-label="Button that displays 
        a tooltip when focused or hovered over"
        [mdePopoverTriggerFor]="appPopover"
        mdePopoverTriggerOn="hover"
      >
        error
      </mat-icon>
      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <app-icons-with-text [text]="description"></app-icons-with-text>
      </mde-popover>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="chart-wrapper">
    <highcharts-chart
      *ngIf="chartOptions?.series"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [constructorType]="isMap ? 'mapChart' : 'chart'"
    ></highcharts-chart>
    <div
      class="prevent-scroll"
      *ngIf="isMap"
      (click)="hideClickToEnable()"
      #clickToEnable
    >
      <span>Click to enable</span>
    </div>
  </div>

  <ngx-loading [show]="!(loadingHits$ | async) && loading"></ngx-loading>
</mat-expansion-panel>
