@import '~@angular/material/theming';
// when you type `<mat-component color = "primary">` it will apply 500
// for material theme
$customTheme: (
  50: #6c757d,
  100: #f8f9fa,
  200: #ffffff,
  300: #7ab709,
  400: #7ab7091c,
  400_light: #7ab7091c,
  500: #427730,
  600: #7a9f6e,
  700: #679259,
  800: #548444,
  900: #7ab809,
  A100: #2e5321,
  A200: #345f26,
  A400: #487739,
  A700: #1a2f13,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

// $customColors: (
//   black: #000000
// );

// $customTheme: (
//   50: #6c757d,
//   100: #f8f9fa,
//   200: #ffffff,
//   300: #66b9b9,
//   400: #4cadad,
//   500: #5dbcd2,
//   600: #008b8b,
//   700: #199696,
//   800: #32a2a2,
//   900: #008b8b,
//   A100: #007d7d,
//   A200: #006f6f,
//   A400: #006161,
//   A700: #005353,
//   contrast: (
//     50: $dark-primary-text,
//     100: $dark-primary-text,
//     200: $dark-primary-text,
//     300: $dark-primary-text,
//     400: $dark-primary-text,
//     500: $light-primary-text,
//     600: $light-primary-text,
//     700: $light-primary-text,
//     800: $light-primary-text,
//     900: $light-primary-text,
//     A100: $dark-primary-text,
//     A200: $light-primary-text,
//     A400: $light-primary-text,
//     A700: $light-primary-text
//   )
// );
