@import 'colorsMap.scss';
@include mat-core();

.primary-text {
  color: map-get($customTheme, 500) !important;
}

.white-text {
  color: map-get($customTheme, 200) !important;
}

.bg-light {
  background-color: map-get($customTheme, 100) !important;
}

.bg-white {
  background-color: map-get($customTheme, 200) !important;
}

.bg-primary {
  background-color: map-get($customTheme, 500) !important;
}

.muted-text {
  color: map-get($customTheme, 50) !important;
}

.primary-hover {
  transition: background-color .25s ease-in;
}

.primary-hover:hover {
  background-color: map-get($customTheme, 400_light);
}

.border-top-light {
  border-top: 3px solid map-get($customTheme, 900) !important;
}

.border-bottom-light {
  border-bottom: 3px solid map-get($customTheme, 900) !important;
}

.border-left-light {
  border-left: 1px solid map-get($customTheme, 900) !important;
}

.border-bottom-muted {
  border-bottom: 3px solid map-get($customTheme, 300) !important;
}

.border-muted {
  border: 1px solid map-get($customTheme, 300) !important;
}

// this theme will not apply to the ng-select components
// so we need to add these ⬇️⬇
.ng-select.ng-select-focused .ng-select-container:after {
  border-color: map-get($customTheme, 500) !important;
}
.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  color: map-get($customTheme, 500) !important;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: map-get($customTheme, 500) !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: map-get($customTheme, 500) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
  color: map-get($customTheme, 500) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: map-get($customTheme, 500) !important;
}
// nouislider theming
.noUi-connect {
  background: map-get($customTheme, 900) !important;
}

$plant-primary: mat-palette($customTheme);
$plant-accent: mat-palette($mat-pink, A200, A100, A400);
$plant-warn: mat-palette($mat-red);
$plant-theme: mat-light-theme($plant-primary, $plant-accent, $plant-warn);

@include angular-material-theme($plant-theme);

.arrow.right {
  border-left-color: map-get($customTheme, A400) !important;
}

.lists_counts {
  background-color: map-get($customTheme, A400) !important;
}
