<div class="row" style="margin-bottom: 30px">
  <chart [options]="chartOptions" (load)="saveNativeChart($event.context)"></chart>
</div>

<!--X selection-->
<div class="row row-group">
  <div class="col-md-2">
    <ng-select [(ngModel)]="selectedXOption" placeholder="X variable" (change)="onXChange($event)" [items]="xOptions"
      [clearable]="false"></ng-select>
  </div>
  <div class="col-md-10">
    <ng-select [(ngModel)]="selectedCategories" [virtualScroll]="true" placeholder="Categories" (change)="onDisplayedSelection()"
      [items]="categoryOptions" [multiple]="true" [clearable]="true"></ng-select>
  </div>
</div>

<!--Y selection-->
<div class="row row-group">
  <div class="col-md-2">
    <ng-select [(ngModel)]="selectedYOption" placeholder="Grouping" (change)="onYChange($event)" [items]="yOptions"
      [clearable]="false"></ng-select>
  </div>
  <div class="col-md-10">
    <ng-select [(ngModel)]="selectedColumns" [virtualScroll]="true" placeholder="Columns" (change)="onDisplayedSelection()"
      [items]="columnOptions" [multiple]="true" [clearable]="true"></ng-select>
  </div>
</div>