<form class="p-3 filters">

  <div *ngFor="let filter of menuFilters || []; let i = index" class="form-group">

    <div *ngIf="i === 0" class="form-group">
      <div class="filters-label">
        <label>Sources <i class="fa fa-info-circle" [ngbPopover]="sourcesPopoverContent"
            triggers="hover" placement="bottom" popoverTitle="" container="body"></i>
        </label>
      </div>
    </div>

    <div *ngIf="i === 2" class="form-group">
      <div class="filters-label">
        <label>Publishing Info <i class="fa fa-info-circle" [ngbPopover]="publishingInfoPopoverContent" triggers="hover"
            placement="bottom" popoverTitle="" container="body"></i>
        </label>
      </div>
    </div>

    <div *ngIf="i === 2" class="row form-group title_search_parent">
      <div class="col-md-12">
        <div class="input-group">
          <input #titleInput [(ngModel)]="titleSearchTerm" (keypress)="onTitleSearch($event)" type="text" class="form-control"
                 placeholder="Title" title="Click Enter to filter" [ngModelOptions]="{standalone: true}" id="title_search" />
          <div class="input-group-append">
            <button (click)="onSelectionChange()" class="btn btn-search">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="i === 11" class="form-group">
      <div class="filters-label">
        <label title="Use the Filters to improve your query">Affiliation and Donors</label>
      </div>
    </div>

    <ng-select *ngIf="filter.label !== 'Year';" [items]="(filteredFilters && filteredFilters[i])?.options" multiple="true"
      (change)="onSelectionChange()" [hideSelected]="true" [virtualScroll]="true" placeholder="Select {{ displayFilterLabel(filter.label) }}..."
      title="{{ filter.label }}">
    </ng-select>

    <div *ngIf="filter.label === 'Year';">
      <div style="display: none">
        <ng-select></ng-select>
      </div>
      <label style="margin-bottom: 0px;">Year(s)</label>
      <div title="Greater than or equal to - Less than or equal to" class="year-slider">
        <nouislider #years_slider [disabled]="yearSliderDisabled" (change)="onYearSliderChange()" [connect]="true"
          [tooltips]="[true, true]" [min]="minYear" [max]="maxYear" [(ngModel)]="selectedYearRange" [ngModelOptions]="{standalone: true}"
          [step]="1">
        </nouislider>
      </div>
    </div>

  </div>

  <div class="form-group">
    <div class="filters-label">
      <label>Standardized Exports</label>
    </div>
  </div>
  <div class="form-group">
    <label *ngFor="let preset of presetOptionsService.presets; let i = index" (click)="onPresetClick(i)" class="pre-defined-filters"
      title="{{preset.description}}">{{preset.title}}</label>
  </div>

</form>

<ng-template #sourcesPopoverContent>
  Select specific repositories to look up, leave it blank to look up in all available repositories. <br>
  Select specific CGSpace communities and MELSpace collections to look up, leave it blank to look up is all available
  communities and collections.
</ng-template>
<ng-template #publishingInfoPopoverContent>
  Sort your list of publications by any filter below, the results are loaded in real time and are immediately ready for
  exporting. Want to clean up all filters and look up something else? Click <i class="fa fa-refresh"></i> and start a
  new query right away!
</ng-template>
